/* General */

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0px;
	background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}


/* Navigation */

header {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100px;
}

footer {
	background-color: #333333;
	height: 60px;
	text-align: center;
}

header h1 {
	float: left;
	padding: 30px;
	color: white;
}
header ul {
	float: right;
	line-height: 60px;
}

ul.nav {
	text-align: right;
	display: inline-block;
	list-style: none;
	padding: 0px 30px 0 0;
}
ul.nav li {
	display: inline;
	margin-left: 20px;
	font-size: 20px;

}
ul.nav a {
	color: #FFFF90;
	text-decoration: none;
}
ul.nav a:hover, ul.nav a:focus {
	color: #FFFFFF;
}

/* Page content */


.tag-line {
	color: white;
	font-size: 24px;
}
.page_margins {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.hero {
	background-image: url(../images/hero.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: center;
    width: 0px auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.red_row {
	background-color: #a82400;
	padding: 5px 20px 5px 20px;
}

.red_row h4 {
	color: white;
	font-size: 26px;
	font-family: sans-serif;
}


.white_row {
	background-color: #FFFFFF;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 38px;
}

.white_row p {
font-size: 20px;
text-align: left;
padding-left: 20px;
}
.gray_row {
	background-color: #CCCCCC;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: center;
	font-size: 28px;
}

.column_50 {
	display: inline-block;
	width: 50%;
	float: left;
	padding: 10px;
}


.column_50 h3 {
	color: white;
	font-size: 30px;


}

.column_50 h4 {
	color: white;
	font-size: 20px;

}

/* Common */

.clear {
	clear: both;
}

.right_align {
	text-align: right;
}





